body {
    background-image: url(../img/beans.png);
    background-size: cover;
}

#beans {
    width: 25%;
    height: auto;
}

.nav-right {
    float: right;
}

.outline {
    outline: 2px solid black;
    box-shadow: 0 0 3pt 2pt black;
    border-radius: 5px;
}

.top-spacing {
    margin-top: 5em
}

.rotate {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  